#grid {
    align-items: center;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "laptop"
        "laptopHighlight";
}

h1 {
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 0.5em 7.3em;
    text-align: left;
    grid-area: header;
    margin: auto;
    width: 100%;
}

h4 {
    margin-bottom: 0;
}

#flexBox {
    display: flex;
    flex-direction: row;
    grid-area: laptop;
    justify-content: space-between;
    padding: 0 10em 0 10em;
    /* align-items: flex-start; */
}

#flexBox section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* justify-content: space-between; */
    /* height: 5em; */
    background: #fbfbfb;
    padding: 0em 2em 1em 1em;
    width: 25%;
    border-radius: 1em;
    /* flex: 1; */
}

#laptopImg {
    padding: 2em;
    margin: 1em;
    height: 10em;
    width: 10em;
}

#laptopHighlight {
    display: flex;
    flex-direction: row;
    grid-area: laptopHighlight;
    margin: 2em 10em;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfb;
    border-radius: 1em;
    border: 2px solid #f3f3f3;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    max-width: 25em;
    height: 10em;
    justify-content: center;
    margin: 1em;
    font-size: 1em;
}

#laptopName {
    font-size: 2.5em;
}

#laptopNameDesc {
    max-width: 22em;
}

.laptopUtilityFlexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#btnBuyNow {
    background-color: #4bc9f1;
    color: black;
    width: 11em;
}

#btnBank {
    background-color: #edef4e;
    color: black;
    width: 45%;
}

#btnWork {
    background-color: #4d70f0;
    color: white;
    width: 45%;
}

#btnGetALoan {
    background-color: #4bf0a1;
    color: black;
    width: 100%;
    margin-top: auto;
    font-size: 13px;
}

#priceBuyNow {
    text-align: center;
    font-weight: bold;
}

#priceBuyNow p {
    font-size: 2.2em;
}

#btnPayLoan {
    width: 100%;
    background-color: #fd0000;
    font-size: 13px;
}

.buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.hidden {
    display: none;
}

.disabled {
    background-color: grey;
}